<%= stylesheet_link_tag "login" %>

<div class="title">
    <h1><%= user.username%> account page</h1>
</div >

<div class="page">
    <%# GET /user/:id/edit link %>
    <%= link_to "Edit account details", edit_user_path(user) %>

    <%# log out link %>
    <%= link_to "Log out", "/logout", method: :delete %>
</div>