<%# display navigation bar %>
<%= render 'layouts/navigation' %>

<div class="title">
    <h1>Edit account details</h1>
</div>

<%= render 'form', user: current_user %>

<%= link_to "Delete account", current_user, method: :delete, data: {confirm: "Are you sure you want to delete your account?"} %>