<div class="row">
    <div class="col-sm-4">
        <div class="sidebar">
            <% if !current_user.searches.empty? %>
                <h3>View all searches</h3>
                <ol>
                <% current_user.searches.each do |search| %>
                    <li><%= search.answer.title %></li>
                <% end %>
                </ol>
            <% end %>
        </div>
    </div>
</div>