<div class="row">
    <div class="col-sm-4">
        <div class="sidebar">
            <div class="px-2">
                <% if !current_user.searches.empty? %>
                    <h3>Your search history</h3>
                    <%= form_for :search do |f| %>
                        <%= f.collection_select :answer_id, Answer.find_user_answers(current_user.searches), :id, :title %>
                        <%= f.submit "View post" %>
                    <% end %>
                <% end %>
            </div>
        </div>
    </div>
</div>