<strong><p>Matches for answers with tags: <%=searches[0].tags%></p></strong>
<ol>
    <% searches.each do |search| %>
        <li><%= link_to search.answer.title, "#{search.answer.post_link + "/" + search.answer.accepted_answer_id.to_s + "#" + search.answer.accepted_answer_id.to_s}"%></li>
    <% end %>
</ol>
<%# clear searches after displaying %>
<% searches.clear %>