
<%# display navigation bar %>
<%= render 'layouts/navigation' %>


<div class="page">
    <%# display data validation errors if they exist %>
    <%= render 'layouts/validation_errors' %>


    <%= render 'form', user: @user, search: @search %>
</div>